body {
    font: 13px/20px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: lighter;
}

h1 {
    text-align: center;
    padding: 10px 0 10px 0;
    margin-bottom: -15px;
    font-size: 17px;
    font-weight: lighter;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
}

h2 {
    text-align: center;
    margin-top: -10px;
    font-weight: lighter;
}

#header {
    width: 100%;
    height: 75px;
    background-color: white;
}

#legend {
    width: 100%;
    height: 75px;
}

#canvas {
    width: 100%;
    height: 500px;
    text-align: center;
    background-color: bisque;
}

.canvas {
    width: 100%;
    height: 500px;
}

#result {
    width: 100%;
    height: 75px;
    background-color: white;
}